body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:630px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:604px;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:375px;
  height:603px;
}
#u143_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:45px;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u144_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:23px;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:11px;
  width:44px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u145_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:44px;
  word-wrap:break-word;
}
#u146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:23px;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:11px;
  width:44px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u146_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:44px;
  word-wrap:break-word;
}
#u147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:161px;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:0px;
  width:150px;
  height:150px;
}
#u147_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:22px;
  width:0px;
  height:0px;
}
#u148_seg0 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:22px;
  width:132px;
  height:10px;
  -webkit-transform:rotate(-156.170550522035deg);
  -moz-transform:rotate(-156.170550522035deg);
  -ms-transform:rotate(-156.170550522035deg);
  transform:rotate(-156.170550522035deg);
}
#u148_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u148_seg2 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:43px;
  width:19px;
  height:18px;
  -webkit-transform:rotate(-156.170550522035deg);
  -moz-transform:rotate(-156.170550522035deg);
  -ms-transform:rotate(-156.170550522035deg);
  transform:rotate(-156.170550522035deg);
}
#u148_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:19px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:161px;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:200px;
  width:150px;
  height:150px;
}
#u149_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:22px;
  width:0px;
  height:0px;
}
#u150_seg0 {
  border-width:0px;
  position:absolute;
  left:-37px;
  top:122px;
  width:494px;
  height:10px;
  -webkit-transform:rotate(-148.996232455217deg);
  -moz-transform:rotate(-148.996232455217deg);
  -ms-transform:rotate(-148.996232455217deg);
  transform:rotate(-148.996232455217deg);
}
#u150_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u150_seg2 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:242px;
  width:19px;
  height:18px;
  -webkit-transform:rotate(-148.996232455218deg);
  -moz-transform:rotate(-148.996232455218deg);
  -ms-transform:rotate(-148.996232455218deg);
  transform:rotate(-148.996232455218deg);
}
#u150_text {
  border-width:0px;
  position:absolute;
  left:161px;
  top:119px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
