body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u43_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:604px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:375px;
  height:603px;
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:45px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:371px;
  word-wrap:break-word;
}
#u46_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:50px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:598px;
  width:94px;
  height:49px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u46_img.selected {
}
#u46.selected {
}
#u46_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:90px;
  word-wrap:break-word;
}
#u47_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:50px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:598px;
  width:94px;
  height:49px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u47_img.selected {
}
#u47.selected {
}
#u47_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:90px;
  word-wrap:break-word;
}
#u48_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:50px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:598px;
  width:94px;
  height:49px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u48_img.selected {
}
#u48.selected {
}
#u48_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:90px;
  word-wrap:break-word;
}
#u49_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:50px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:598px;
  width:94px;
  height:49px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u49_img.selected {
}
#u49.selected {
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:90px;
  word-wrap:break-word;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u51_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:45px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:375px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#020202;
  text-align:left;
}
#u51_text {
  border-width:0px;
  position:absolute;
  left:55px;
  top:10px;
  width:318px;
  word-wrap:break-word;
}
#u52_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:55px;
  width:22px;
  height:22px;
}
#u52_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u54_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:45px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:116px;
  width:375px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#020202;
  text-align:left;
}
#u54_text {
  border-width:0px;
  position:absolute;
  left:55px;
  top:10px;
  width:318px;
  word-wrap:break-word;
}
#u55_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:127px;
  width:22px;
  height:22px;
}
#u55_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u57_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:45px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:375px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#020202;
  text-align:left;
}
#u57_text {
  border-width:0px;
  position:absolute;
  left:55px;
  top:10px;
  width:318px;
  word-wrap:break-word;
}
#u58_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:171px;
  width:22px;
  height:22px;
}
#u58_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u60_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:45px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:240px;
  width:375px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#020202;
  text-align:left;
}
#u60_text {
  border-width:0px;
  position:absolute;
  left:55px;
  top:10px;
  width:318px;
  word-wrap:break-word;
}
#u61_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:251px;
  width:22px;
  height:22px;
}
#u61_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u63_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:45px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:304px;
  width:375px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#020202;
  text-align:left;
}
#u63_text {
  border-width:0px;
  position:absolute;
  left:55px;
  top:10px;
  width:318px;
  word-wrap:break-word;
}
#u64_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:315px;
  width:22px;
  height:22px;
}
#u64_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u66_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:45px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:368px;
  width:375px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#020202;
  text-align:left;
}
#u66_text {
  border-width:0px;
  position:absolute;
  left:55px;
  top:10px;
  width:318px;
  word-wrap:break-word;
}
#u67_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:379px;
  width:22px;
  height:22px;
}
#u67_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
