body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:604px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:375px;
  height:603px;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:45px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:371px;
  word-wrap:break-word;
}
#u1_ann {
  border-width:0px;
  position:absolute;
  left:368px;
  top:-4px;
  width:1px;
  height:1px;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:50px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:598px;
  width:94px;
  height:49px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u3_img.selected {
}
#u3.selected {
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:90px;
  word-wrap:break-word;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:50px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:598px;
  width:94px;
  height:49px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u4_img.selected {
}
#u4.selected {
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:90px;
  word-wrap:break-word;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:50px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:598px;
  width:94px;
  height:49px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u5_img.selected {
}
#u5.selected {
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:90px;
  word-wrap:break-word;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:50px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:598px;
  width:94px;
  height:49px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u6_img.selected {
}
#u6.selected {
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:90px;
  word-wrap:break-word;
}
.u8 {
  position:absolute;
  left:216px;
  top:0px;
  visibility:hidden;
}
.u8_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:160px;
  height:69px;
  background-image:none;
}
.u8_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:69px;
}
.u9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:68px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
.u9_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:23px;
  width:65px;
  white-space:nowrap;
}
.u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:69px;
}
.u10 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:0px;
  width:63px;
  height:68px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
.u10_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:23px;
  width:33px;
  white-space:nowrap;
}
.u11 {
  position:absolute;
  left:0px;
  top:0px;
  touch-action:pan-y;
}
.u11_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:376px;
  height:69px;
  background-image:none;
}
.u11_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:69px;
}
.u12 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:68px;
}
.u12_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
.u13 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:9px;
  width:50px;
  height:50px;
}
.u13_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:23px;
}
.u14 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:9px;
  width:33px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
.u14_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
.u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:19px;
}
.u15 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:40px;
  width:300px;
  height:18px;
  color:#666666;
}
.u15_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
.u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:12px;
}
.u16 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:15px;
  width:26px;
  height:11px;
  font-size:10px;
  color:#999999;
  text-align:right;
}
.u16_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u7-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:68px;
}
#u7-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:68px;
  width:375px;
  height:68px;
}
#u7-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:136px;
  width:375px;
  height:68px;
}
#u7-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:204px;
  width:375px;
  height:68px;
}
#u7-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:272px;
  width:375px;
  height:68px;
}
#u7-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:340px;
  width:375px;
  height:68px;
}
#u7-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:408px;
  width:375px;
  height:68px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:375px;
  height:476px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:23px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:11px;
  width:44px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:44px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:222px;
  top:54px;
  visibility:hidden;
}
#u18_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:139px;
  height:187px;
  background-image:none;
}
#u18_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:187px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:186px;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u21 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:45px;
}
.u22 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F9F9FB;
  text-align:left;
}
.u22_text {
  border-width:0px;
  position:absolute;
  left:50px;
  top:11px;
  width:86px;
  word-wrap:break-word;
}
.u23_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
.u23 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:20px;
  height:20px;
}
.u23_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:44px;
}
#u20-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:138px;
  height:44px;
}
#u20-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:88px;
  width:138px;
  height:44px;
}
#u20-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:132px;
  width:138px;
  height:44px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:138px;
  height:176px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
